<% if @feed_items.any? %>
  <h2>您目前有 <%= @feed_items.count %> 条待办事项，需要在24h内完成</h2>
  <ol class="agenda_items">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
  <%else %>
  <h2>您目前没有24h内需要完成的日程，您可以点击左侧的按钮查看并管理所有日程，或者在左侧创建一个新的日程！</h2>
<% end %>